<div class="header-wrapper mb-5">
<section class="hero is-primary is-bold is-halfheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Lorem ipsum dolor sit amet
      </p>
      <p class="subtitle">
        Wiliam Shakespeare
      </p>
    </div>
  </div>
</section>
</div>


<!-- Begin Main Content -->
<section class="main-content">
  <!-- Begin About Me Section -->
  <div class="section-light about-me p-5" id="about-me">
    <div class="container p-5">
      <div class="column is-12 about-me p-5">
        <h1 class="title has-text-centered section-title">About Me</h1>
      </div>
      <div class="columns is-multiline my-3">
        <div
          class="column is-6 has-vertically-aligned-content p-5"
          data-aos="fade-right"
        >
          <p class="is-larger p-5">
            &emsp;&emsp;<strong
              >Tech Entusiast</strong
            >
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus turpis sit amet porttitor semper.
            Nullam magna orci, commodo nec nulla a, efficitur tempus nisl. Ut sed sem eget ipsum placerat pellentesque in et diam.
            Curabitur pharetra, tellus sit amet egestas maximus, est leo feugiat est, in fermentum ante ligula eget libero. Ut eget fringilla eros.
            Praesent nibh arcu, ullamcorper in fringilla vitae, mattis sed eros. Maecenas porttitor accumsan interdum. Sed elementum lobortis convallis.
            Proin at purus in tortor placerat tristique et sodales nunc. Ut non blandit quam, ut cursus elit.
          </p>
          <br />
          <div class="is-divider"></div>
          <div class="columns about-links">
            <div class="column">
              <p class="heading">
                <strong>Give me a ring</strong>
              </p>
              <p class="subheading">
                123-456-7890
              </p>
            </div>
            <div class="column">
              <p class="heading">
                <strong>Email Me</strong>
              </p>
              <p class="subheading">
                hello@example.com
              </p>
            </div>
            <div class="column">
              <p class="heading">
                <strong>View my portfolio</strong>
              </p>
              <p class="subheading">
                example.com
              </p>
            </div>
          </div>
        </div>
        <div class="column is-6 image " data-aos="fade-left">
          <img
            class="small-rounded"
            src="https://picsum.photos/id/366/600/375"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <!-- End About Me Content -->
</section>
